@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CustomFont";
  src: url("./fonts/raisonne-demibold.ttf") format("truetype");
}

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  scroll-behavior: smooth;
}

.nav {
  font-family: "CustomFont", sans-serif;
}

.welcome .profile .card {
  font-family: "Mona Sans", MonaSansFallback, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
}

.text-shadow {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
